
.about-container {
    position:relative;
    display: flex;
    gap: 20px;
    padding: 20px; /* 컨테이너 여백 */
    display: flex;
    align-items: center; 
    justify-content: center; /* 가로 중앙 정렬 */
}

.about-container p {
    font-family: 'HANBatang';
    font-size: 16px;
}

.text-container {
    width : 50%;
}

@font-face {
    font-family: 'HANBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
